<% feed.each do |feed_item| %>
<div class="feed-item">
  <div class="row feed-row">
    <% if feed_item.class == Favorite %>
      <%= render partial: 'users/feed_fav', locals: { favorite: feed_item, user: User.find(feed_item.user_id), business: Business.find(feed_item.business_id) } %>
    <% elsif feed_item.class == Rating %>
      <%= render partial: 'users/feed_rating', locals: { rating: feed_item, user: User.find(feed_item.user_id), business: Business.find(feed_item.business_id) } %>
    <% elsif feed_item.class == SavedSearch %>
      <%= render partial: 'users/feed_search', locals: { saved_search: feed_item, user: User.find(feed_item.user_id), search: Search.find(feed_item.search_id) } %>
    <% end %>
  </div>
</div>
<% end %>