<% content_for :navbar do %>
  <%= render 'layouts/nav' %>
<% end %>

<% content_for :page do %>

<div class="container user-show">

  <div class="row" id="user-info-row">
    <div class="col-md-3" id="profile-pic-container">

      <div class="gravatar" id="profile-pic">
        <a href="http://en.gravatar.com/emails" target="_blank">
          <img src="http://www.gravatar.com/avatar/<%= @email_hash %>?s=200&r=pg">
        </a>
      </div>
    </div>

    <div class="col-md-9" id="profile-info-container">
      <div class="profile-header">
        <h1 id="user-welcome"><%= @user.username %> <small><%= @user.email %></small></h1>
      </div>  
      <div class="info" id="feed">
        <h2>Feed <small>Activity feed will go here.</small></h2>        
      </div>
    </div>
  </div>
  
  <div class="row" id="user-activity-row">
    <div class="col-md-4 favorites-container">
      <div class="activity-container">
        <h2>Favorites</h2>
        <h2><small>Favorite businesses will go here.</small></h2>
      </div>
    </div>
    <div class="col-md-4 recent-ratings-container">
      <div class="activity-container">
        <h2>Recent Ratings</h2>
        <h2><small>Recent ratings will go here.</small></h2>
      </div>      
    </div>
    <div class="col-md-4 recent-searches-container">
      <div class="activity-container">
        <h2>Recent Searches</h2>
        <h2><small>Recent searches will go here.</small></h2>
      </div>
    </div>
  </div>
  
</div>

<% end %>


<% content_for :scripts do %>

<script type="text/javascript">

</script>

<% end %>