<h3><%= link_to business[:name], business[:url] %></h3>
<p>Rating: <%= business[:rating] %></p>
<p>Number of Reviews: <%= business[:review_count]%></p>
<p>Phone Number: <%= business[:display_phone] %></p>
