<div class="container">
  <form role="form" id="new-search-form" action="/searches" method="post">
    <%= form_auth %>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="search_location" placeholder="e.g., 202 W Jefferson St, Bloomfield, IA" name="search[location]">
    </div>
    <div class="form-group">
      <label for="search_term"><span class="logo find">Find </span><span class="logo my">my</span></label>
      <input type="text" class="form-control" id="search_term" placeholder="e.g., Dinner" name="search[search_term]">
    </div>
    <input type="submit" class="btn btn-default" name="commit" value="Go!"></input>
  </form>
</div>

