<% content_for :headers do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
  </style>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDlSxeYeXcN5eJrtqIgJR9wR_Q5rAAajQ&sensor=true">
  </script>
  <script type="text/javascript">
    
    function make_map(position) {
      
      var lat = typeof position !== 'undefined' ? position.coords.latitude : 37.4292;
      var lng = typeof position !== 'undefined' ? position.coords.longitude : -122.1381;
      
      console.log("Here's where the map is currently centered:");
      console.log(lat, lng);
      console.log("Default map location is Palo Alto.");
      
      var mapOptions = {
        center: new google.maps.LatLng(lat, lng),
        zoom: 13
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);
    }
    
    function handleError(error)
      {
      switch(error.code) 
        {
        case error.PERMISSION_DENIED:
          console.log("Geolocation permission denied!");
          make_map();
          break;
        case error.POSITION_UNAVAILABLE:
          console.log("Geolocation permission unavailable!");
          make_map();
          break;
        case error.TIMEOUT:
          console.log("Geolocation timeout!");
          make_map();
          break;
        case error.UNKNOWN_ERROR:
          console.log("Geolocation ERROR UNKNOWN!");
          make_map();
          break;
        }
      }
    
    function initialize() {
      if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition(make_map, handleError);
      }
      else{
        console.log("No geolocation whatsoever!");
        make_map();
      }
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);
    
  </script>

<% end %>

<% content_for :map do %>
<%= render 'searches/new_search_map' %>
<% end %>

<% content_for :page do %>
  <div style="display: inline-block; vertical-align: top; text-align: center; width: 40%; margin: 40vh 0 40vh 0;">
    <div id="search_form" style="text-align: center;">
      <%= render 'form' %>
    </div>
  </div>
  <div id="demo"></div>
  
  <%= link_to 'Back', searches_path %>
  
<% end %>


