<% content_for :headers do %>
  <%= render 'searches/new_map_js' %>
<% end %>

<% content_for :map do %>
<%= render 'searches/new_search_map' %>
<% end %>

<% content_for :page do %>
  <div id="new-search">

    <div id="search_form" style="text-align: center;">
      <%= render 'searches/form' %>
    </div>

  </div>
  
<% end %>


