<% content_for :headers do %>
  <%= render partial: 'searches/show_map_js', locals: {center: @center, businesses: @business_results} %>
<% end %>

<% content_for :navbar do %>
  <%= render 'layouts/nav' %>
<% end %>


<% content_for :map do %>
  <%= render partial: 'map' %>
<% end %>


<% content_for :page do %>

<div class="container list-wrapper">
  <div id="results-list">
  
    <% @business_results.each do |business| %>
      <%= render partial: 'businesses/business_snippet', locals: { business: business } %>
    <% end %>
  
  </div>  
</div>


<% end %>

<% content_for :scripts do %>

  <% if current_user && current_user.username == 'guest' %>

  <script type="text/javascript">

  tour = new Shepherd.Tour({
    defaults: {
      classes: 'shepherd-theme-arrows',
      showCancelLink: true,
      buttons: [{
        text: 'Next',
        classes: 'btn btn-default'
      }]
    }
  });

  var bizTile = "The marker associated with the business's address will<br>bounce so that you can see where that business is located.";

  var bizMarker = "An infowindow will pop up with the name and the address of the business.<br>The business associated with that marker will scroll to the top of the page.";

  var bizClick = "Clicking on a business result will take you to that business's page.<br>Why don't you try clicking on this one?";

  tour.addStep('biz-tile', {
    title: '<strong>Try hovering over a business result!</strong>',
    text: bizTile,
    attachTo: '#results-list',
    advanceOn: '.btn click',
    tetherOptions: {
      targetOffset: '-20% 0'
    }
  });

  tour.addStep('biz-marker', {
    title: '<strong>Try clicking on a marker!</strong>',
    text: bizMarker,
    attachTo: '#map-canvas',
    advanceOn: '.btn click'
  });
  
  tour.addStep('biz-click', {
    title: '<strong>Visit a business page!</strong>',
    text: bizClick,
    attachTo: '#results-list',
    buttons: false,
    tetherOptions: {
      targetOffset: '-20% 0'
    }
  });

  tour.start();
  </script>

  <% end %>

<% end %>