/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body, html {
//  height: 100%;
}

//logo

.logo.my {
  font-family: 'Satisfy', cursive;
  font-size: 150%;
}

.logo.find {
  font-weight: bold;
}

//nav

.navbar {
  border: none;
  border-radius: 0;
  min-height: 20px;
  margin: 0;
  z-index: 1;
  
  a {
    font-size: 1em;
  }
  
  li a {
    padding: 10px;
    .logo.my {
      font-size: 120%;
    }
  }
  
  
  a.navbar-brand {
    font-size: 1.2em;
    padding: 10px;
    height: auto;
    line-height: auto;
  }
}


//new search / index


#new-search {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin: 40vh 0 0 0;
  position: absolute;
  top: 0px;
  right: 0px;
  
  .container {
    width: 75%;
    margin: auto;
    float: none;
    
    * {
      float: none;
    }
  }
  
  @media (max-width: 600px) {
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 40vh 0 0 0;
  }
}

.search-map-canvas.new-search {
  width: 100%; 
  height: 100%;
  display: inline-block; 
  text-align: center; 
  position: absolute; 
  top: 0px;
}

#new-search-form {
  text-align: left;
  
  label {
    font-size: 1.5em;
    text-shadow: 0 0 10px #FDFDFD, 
    0 0 10px #FDFDFD, 
    0 0 10px #FDFDFD, 
    0 0 10px #FDFDFD;
  }
}


//user form

.user-form {
  width: 40%;
  margin: 5vw;
  
  .user-form-links {
    margin-top: 20px;
  }
}



//search show

.search-map-canvas.show-search {
  width: 50%; 
  height: 100vh; 
  display: inline-block; 
}

.container.list-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 45vw;
  height: 100vh;
  margin: 3em 0 0 0;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
  
  #results-list {
    overflow: auto;
    width: 110%;
    height: 100%;
    margin: 0;
    padding-bottom: 20px;
  }  
}


//biz snippet

.biz-hr {
  width: 70%;
  position: relative;
  left: -20%;
}

.rating {
  color: gold;
}

.favorite {
  color: red;
}


//user show

.container.user-show {
  margin-top: 10vh;
  
  #profile-pic-container {
    text-align: center;
    
    #profile-pic {
      position: relative;
      margin: 0px auto;
    
      img {
       border-radius: 100%; 
      }
    }
  
  }
  
  .info {
    text-align: left;
    margin: 20px 0 20px 0;
    padding: 15px;
    background-color: #F8F8F8;
    border-radius: 10px;
  
    p {
      margin-top: 10px;
    }
  }    
  
  
}








