/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

a:hover {
  text-decoration: none;
  background: transparent !important;
}

body, html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

//logo

#logo-background {
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  color: #E8E8E8;
  font-size: 20em;
  text-align: center;
  vertical-align: middle;
  padding: 40vh 5vw;
  z-index: -1;
}

.logo.my {
  font-family: 'Satisfy', cursive;
  font-size: 150%;
}

.logo.find {
  font-weight: bold;
}

//nav

.navbar {
  border: none;
  border-radius: 0;
  min-height: 20px;
  margin: 0;
  z-index: 1;
  
  a {
    font-size: 1em;
  }
  
  li a {
    padding: 10px;
    .logo.my {
      font-size: 120%;
    }
  }
  
  
  a.navbar-brand {
    font-size: 1.2em;
    padding: 10px;
    height: auto;
    line-height: auto;
  }
}


//new search / index


#new-search {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin: 40vh 0 0 0;
  position: absolute;
  top: 0px;
  right: 0px;
  
  .container {
    width: 75%;
    margin: auto;
    float: none;
    
    * {
      float: none;
    }
  }
  
  @media (max-width: 600px) {
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 40vh 0 0 0;
  }
}

.search-map-canvas.new-search {
  width: 100%; 
  height: 100%;
  display: inline-block; 
  text-align: center; 
  position: absolute; 
  top: 0px;
}

#new-search-form {
  text-align: left;
  
  label {
    font-size: 1.5em;
    text-shadow: 0 0 10px #FDFDFD, 
    0 0 10px #FDFDFD, 
    0 0 10px #FDFDFD, 
    0 0 10px #FDFDFD;
  }
}


//user form

.user-form {
  width: 40%;
  margin: 5vw;
  text-align: left;
  
  .user-form-links {
    margin-top: 20px;
  }
}



//search show

.search-map-canvas.show-search {
  width: 50%; 
  height: 100vh; 
  display: inline-block; 
  
  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
    height: 45vh;
  }
}


.container.list-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 45vw;
  height: 100vh;
  margin: 3em 0 0 0;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
  
  @media (max-width: 768px) {
    width: 100%;
    margin: 20px 0 0 40px;
    height: 100vh;
    position: relative;
  }
  
  #results-list {    
    text-align: left;
    overflow: auto;
    width: 110%;
    height: 100%;
    margin: 0;
    padding-bottom: 20px;
    
    a:first-child {
      div {
       margin: 20px 0 0 0; 
      }
    }
  }  

}


//biz snippet

.biz-snippet {
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}

a.biz-snippet-link {
  &:hover {
    color: black;
    div.biz-snippet {
      background-color: #D8D8D8;
    }
  }
}

.biz-hr {
  width: 100%;
  position: relative;
  left: 0;
}

.rating {
  color: gold;
}

.favorite {
  color: red;
}


//user show

.container.user-show {
  margin-top: 10vh;
  
  #profile-pic-container {
    text-align: center;
    
    #profile-pic {
      position: relative;
      margin: 0px auto;
    
      img {
       border-radius: 100%; 
      }
    }
  
  }
  
  .info {
    text-align: left;
    margin: 20px 0 20px 0;
    padding: 15px;
    background-color: #D8D8D8;
    border-radius: 10px;
  
    p {
      margin-top: 10px;
    }
  }    
  
  
}








//biz show

.biz-show-map#map-canvas {
  height: 30vw;
  width: 30vw;
  display: block;
  margin: 20px;
  
  @media (max-width: 992px) {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.no-rating {
  color: #999;
  font-style: italic;
}

a#biz-show-yelp-link {

  &:hover {
    text-decoration: none;
    color: black;
  }

}

.yelp-info-container {
  margin: 20px 20px 20px 0;
  padding: 20px;
  background-color: #D8D8D8;
  border-radius: 10px;
}

.yelp-logo {
  display: block;
  width: 50%;
}

.info-aspect {
  margin: 20px;
}


//ratings form

.modal-content {
  text-align: center;
  
  #rating-form {
    margin: 20px auto;
    
    .rating {
      font-size: 3em;
      color: black;
    }
    
    #button-div {
      margin: 20px;
    }
  }  
}
