<div class="user_menu" style="text-align: right;">
  
  <% if user_signed_in? %>
    <span>Signed in as <%= current_user.email %>.</span>
    <%= button_to "Sign Out", destroy_user_session_url, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_url %>
    |
    <%= link_to "Sign Up", new_user_registration_url %>
  <% end %>
  
</div>